*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

.blue{
    background-color: #b5ddff;
}

.w-100{
    width: 100%;
}

.m-10{
    margin: 10px;
}

.violet{
    background-color: #9792e4;
}

.padding-20{
    padding: 20px 20px;
}

/* HEADER */
header{
    background-color: #0084fd;
}

.d-flex{
    display: flex;
}

.container{
    max-width: 767px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    width: 38px;
}

/* MAIN */
.row{
    gap: 15px;
    flex-direction: column;
}

.col-66{
    width: 100%;
    height: 496px;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0px;
}

.col-33{
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.phone{
    height: 100%;
    width: 301px;
}

.icon{
    width: 120px;
}

/* MAIN SECOND PART VIOLET */

.col-70{
    height: 600px;
    color: white;
    flex-direction: column;
    align-items: center;
}

.col-50{
    height: 500px;
    background-color:blue;
}

.planning1{
    height: 90%;
    width: 80%;
}