*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

.blue{
    background-color: #b5ddff;
}

.w-100{
    width: 100%;
}

.m-10{
    margin: 10px;
}

.violet{
    background-color: #9792e4;
}

.padding-20{
    padding: 20px 20px;
}

.white{
    background-color: white;
}

.border-25{
    border-radius: 25px;
}

/* HEADER */
header{
    background-color: #0084fd;
}

.d-flex{
    display: flex;
}

.container{
    max-width: 767px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    width: 38px;
}

/* MAIN */
.row{
    gap: 15px;
    flex-direction: column;
}

.col-66{
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0px;
}

.col-33{
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2{
    max-width: 90%;
}

.phone{
    height: 100%;
    width: 301px;
}

.icon{
    width: 120px;
}

/* MAIN SECOND PART VIOLET */

.col-70{
    color: white;
    flex-direction: column;
    align-items: center;
}

.col-50{
    align-items: center;
    justify-content: center;
}

.planning1{
    height: 90%;
    width: 80%;
}

.content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
}

/* MAIN TESTIMONIALS */

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 20px 0;
    border-radius: 25px;
}

.testimonial{
    border-radius: 50%;
    object-fit: cover;
}